.tutorial
  %h1
    Taller de Rails al Lado del Cliente

  %h2
    Introducción
  %p
    Para obtener los datos, en el command line (la programa "Terminal"), ejecute:
    .code
      rake vamos

  %p
    Esta es la applicación que vamos a usar hoy.

  %h2
    Aceder a la Base de Datos

  %p
    En la base de datos de esta applicación hay una tabla que se llama
    .code
      persona
  %p
    Puedes acceder a tus datos desde esta tabla. Por ejemplo, puedes buscar una persona por su nombre:
    .code
      Persona.find_by_name("Rebecca")
  %p
    La clase persona tiene muchos metódos. Si tienes un objeto que es una Persona:
    .code
      persona = Persona.find_by_name("Rebecca")
  %p
    Puedes llamar este método:
    .code
      persona.hobby.name
  %p
    Para obtener el nombre de su hobby, o para obtener el nombre de su sector:
    .code
      persona.sector.name

  %h2
    Imprimir con HAML

  %p
    En tu command line (el programa 'Terminal'), ejecuta esta linea dentro del directorio de la aplicación:
    .code
      rails server
  %p
    Ahora, en tu browser, puedes visitar
    %span.filename
      localhost:3000
    Para ver sus cambios a la pagina web.

  %p
    Intentalo ahora! Dirígete a
    %span.filename
      app/views/personas/_hobbies.html.haml
    para añadir una linea con tu hobby. Utiliza la base de datos! El código desde el archivo va a estar abajo. En el archivo .haml, la logica para imprimir sus datos va a ser algo como esto (el "=" al principio de la linea significa que el código es Ruby, y Ruby no es HTML!):
    .code
      \= persona.sector.name
  %p
    Una pista: para obtener algo en un archivo .haml sin imprimiendo, utilize un guión:
    .code
      \- persona = Persona.find_by_name("rebecca")

  = render :partial => "hobbies"

  %h2
    Seeds

  %p
    Es posible que no te guste tu hobby. En el archivo:
    %span.filename
      db/seeds.rb
    puedes escribir un seed para cambiarlo. Primeramente, recuerda que necesitas encontrar tu nombre:
    .code
      persona = Persona.find_by_name("Rebecca")
  %p
    Debes escribir un hobby también. Mi hobby, por ejemplo, tiene el nombre "correr":
    .code
      hobby = Hobby.new(name: "Correr")
  %p
    Ahora, puedes asignar tu hobby con el objeto Hobby que escribiste:
    .code
      persona.hobby = hobby
  %p
    Finalmente, necesitas hacer un "save" a la base de datos.
    .code
      persona.save!
  %p
    En su command line, ejecute su seed:
    .code
      rake vamos
  %p
    Entonces, haz un refresh a la pagina web y puedes ver tus cambios arriba!

  %h2
    Otro Seed

  %p
    Ahora necesitas tener un sector. Añade otro seed a 
    %span.filename
      db/seeds.rb
    Para especificar tu sector. Debes hacer un cambio a 
    %span.filename
      app/views/personas/_sectors.html.haml
    y hacer un refresh.
  = render :partial => "sectors"
  %p
    Entonces, haz un refresh a la pagina web y puedes ver tus cambios arriba!

  %h2
    Otro Seed

  %p
    Ahora necesitas tener un sector. Añade otro seed a 
    %span.filename
      db/seeds.rb
    Para especificar tu sector. Debes hacer un cambio a 
    %span.filename
      app/views/personas/_sectors.html.haml
    y hacer un refresh.
  = render :partial => "sectors"
