.tutorial
  %h1
    Taller de Rails al Lado del Cliente

  %h2
    Introducción

  %p
    Esta es la applicación que vamos a usar hoy.

  %h2
    Aceder la Base de Datos

  %p
    En la base de datos de esta applicación hay un table que se llama
    .code
      persona
  %p
    Puedes aceder tus datos desde este table. Por ejemplo, puedes buscar por un persona:
    .code
      Persona.find_by_name("Rebecca")
  %p
    El clase persona tiene muchas metódos. Si tienes un objeto que es una Persona:
    .code
      persona = Persona.find_by_name("Rebecca")
  %p
    Puedes llamar este método:
    .code
      persona.hobby
  %p
    Para obtener su hobby, o para obtener su sector:
    .code
      persona.sector

  %h2
    Imprimir con HAML

  %p
    En su command line (la programa 'Terminal'), y ejecute este:
    .code
      rails server
  %p
    Ahora, en su browser, puedes visitar
    %span.filename
      localhost:3000
    Para ver sus cambios a la pagina web.

  %p
    Intente ahora! Vengas a
    %span.filename
      app/views/personas/_hobbies.html.haml
    para añadir una linea con su hobby. Utiliza la base de datos! El código desde el archivo va a estar abajo. En el archivo .haml, la logica para imprimir sus datos va a estar algo cómo esto (el "=" significa que el código antes es Ruby, y Ruby no es HTML!):
    .code
      \= persona.sector
  = render :partial => "hobbies"

  %h2
    Las migraciones

  %p
    Es posible que no te gusta tu hobby. En el archivo
    %span.filename
      db/seeds.rb
  %p
    Puedes escribir una migración para cambiarle. Primermente, recuerde que necesitas encontrar su nombre:
    .code
      persona = Persona.find_by_name("Rebecca")
  %p
    Pues, puedes asignar su hobby:
    .code
      persona.hobby = "Corriendo"
  %p
    Finalmente, necesitas hacer un "save" al base de datos.
    .code
      persona.save!
  %p
    Entonces, hagas un refresh a la pagina web y puedes ver tus cambios arriba!

  %h2
    Otra migración

  %p
    Ahora necesitas tener un sector. Añade otra migración a 
    %span.filename
      db/seeds.rb
    Para especificar su sector. Pues, hagas un cambio a 
    %span.filename
      app/views/personas/_sectors.html.haml
    y hagas un refresh.
  = render :partial => "sectors"
